.add-product {
  padding: 13px 0 18px;
}

.add-product__caption {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
}

.add-product__description {
  width: 100%;
  font-family: "Lato", sans-serif;
  line-height: 14px;
  color: #444444;
  margin-bottom: 15px;
  border-spacing: 0;

  & td {
    padding: 0;

    &:last-child {
      text-align: right;
    }
  }
}
