@use "../global/variables.scss" as v;

.add-product {
  padding: 13px 0 18px;

  @media (min-width: v.$tablet-width) {
    padding: 26px 37px 27px;
  }

  &:first-child {
    padding-top: 12px;

    @media (min-width: v.$tablet-width) {
      padding-top: 25px;
    }
  }
}

.add-product__content-wrapper {
  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
}

.add-product__caption {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    flex-grow: 1;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.add-product__description {
  width: 100%;
  font-family: v.$second-font;
  line-height: 14px;
  color: v.$main-text-color;
  margin-bottom: 15px;
  border-spacing: 0;

  @media (min-width: v.$tablet-width) {
    padding-top: 3px;
    margin-bottom: 0;
    width: unset;
    font-size: 16px;
    line-height: 20px;
  }
}

.add-product__description td {
  padding: 0;

  &:last-child {
    text-align: right;

    @media (min-width: v.$tablet-width) {
      padding-left: 49px;
    }
  }
}

.add-product__button {
  width: 100%;
}
