@use "../global/variables.scss" as v;

.add-catalog {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: v.$tablet-width) {
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.add-catalog__title-wrapper {
  position: relative;
  margin-bottom: 34px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 80px;
  }

  &::before {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto 0;
    height: 2px;
    content: "";
    background-color: #68b738;

    @media (min-width: v.$tablet-width) {
      top: 21px;
    }
  }
}

.add-catalog__title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  background-color: #ffffff;

  @media (min-width: v.$tablet-width) {
    padding: 0 40px;
    margin-left: 30px;
    font-size: 36px;
    line-height: 36px;
  }
}

.add-catalog__list {
  margin: 0 20px 35px;

  @media (min-width: v.$tablet-width) {
    margin: 0 30px 70px;
  }
}

.add-catalog__promo {
  margin: 0 20px;

  @media (min-width: v.$tablet-width) {
    margin: 0 30px;
  }
}
