@use "../global/variables.scss" as v;

.cat-data {
  padding: 0;
  border: none;
}

.cat-data__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cat-data__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: v.$tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
