@use "../global/variables.scss" as v;

.catalog-promo {
  background-image: url("../img/bg/promo-bg-mobile.jpg");
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/promo-bg-mobile@2x.jpg");
  }

  @media (min-width: v.$tablet-width) {
    background-image: url("../img/bg/promo-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/promo-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: v.$desktop-width) {
    background-image: url("../img/bg/promo-bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/promo-bg-desktop@2x.jpg");
    }
  }
}

.catalog-promo__text {
  position: relative;
  margin: 0 auto;
  width: 161px;
  padding: 187px 0 43px;
  text-align: center;
  font-family: v.$second-font;
  font-size: 16px;
  line-height: 20px;
  color: v.$color-white;

  &::before {
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 78px;
    height: 81px;
    content: "";
    background-image: url("../img/icon/gift-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: v.$tablet-width) {
    padding: 71px 48px 69px 344px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;

    &::before {
      top: 0;
      bottom: 0;
      left: 0;
      right: unset;
      margin: auto 0;
      width: 80px;
      height: 83px;
      background-image: url("../img/icon/gift-tablet.svg");
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 185px 42px 43px;
    text-align: center;

    &::before {
      top: 56px;
      left: 1px;
      right: 0;
      margin: 0 auto;
    }
  }
}
