@use "../global/variables.scss" as v;

.example {
  padding: 25px 20px 40px;
  background-color: v.$third-bg;

  @media (min-width: v.$tablet-width) {
    padding: 45px 0 0;
    background-color: v.$color-white;
  }

  @media (min-width: v.$desktop-width) {
    position: relative;
    padding: 0 0 75px;
    background-color: v.$third-bg;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: v.$tablet-width) {
    padding: 0 30px 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 897px 76px 110px;
    margin-bottom: 70px;
    background-color: v.$color-white;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: v.$second-font;
  color: v.$main-text-color;

  @media (min-width: v.$tablet-width) {
    padding: 0 30px 0;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 897px 0 110px;
    margin-bottom: 69px;
  }
}

.example-stats {
  margin-bottom: 20px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 250px;
    padding: 0 30px 0;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 0;
    padding: 0 897px 0 110px;
  }
}

.example__compare-slider-wrapper {
  height: 256px;

  @media (min-width: v.$tablet-width) {
    position: relative;
    height: 462px;
    background-color: v.$third-bg;
  }

  @media (min-width: v.$desktop-width) {
    position: absolute;
    top: 0;
    right: 110px;
    height: 512px;
    width: 560px;
    background-color: transparent;
  }
}
