@use "../global/variables.scss" as v;

.form__header {
  padding: 27px 20px 0;
  margin-bottom: 39px;

  @media (min-width: v.$tablet-width) {
    padding: 0 70px;
    margin-bottom: 66px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 45px 110px 66px;
    margin-bottom: 0;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: v.$tablet-width) {
    padding: 40px 0;
    margin-bottom: 14px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0;
    margin-bottom: 55px;
  }
}

.form__description {
  margin: 0;
  width: 226px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}
