@use "../global/variables.scss" as v;

.hero {
  display: flex;
  flex-direction: column;

  @media (min-width: v.$tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: v.$desktop-width) {
    position: relative;
    padding: 0 190px 52px;
    min-height: 499px;
  }
}

.hero__text-wrapper {
  padding: 0 15px 164px;
  text-align: center;
  color: v.$color-white;
  background-image: url("../img/bg/cat-bg-mobile.jpg");
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/cat-bg-mobile@2x.jpg");
  }

  @media (min-width: v.$tablet-width) {
    padding: 0;
    margin-left: 120px;
    margin-bottom: 50px;
    width: 55%;
    text-align: left;
    color: v.$color-black;
    background-image: none;
  }

  @media (min-width: v.$desktop-width) {
    z-index: 1;
    box-sizing: border-box;
    padding: 81px 110px 0 0;
    margin: 0;
    margin-bottom: 52px;
    width: 50%;
  }
}


.hero__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 27px 20px 20px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
    padding: 40px 0;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    width: 68%;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: v.$desktop-width) {
    width: unset;
  }
}

.hero__image-wrapper {
  position: relative;
  height: 135px;
  margin-bottom: 3px;

  @media (min-width: v.$tablet-width) {
    order: 1;
    height: 526px;
    width: 100%;
    margin-bottom: 0;
  }

  @media (min-width: v.$desktop-width) {
    position: absolute;
    right: 331px;
    left: 557px;
    top: 0;
    margin: 0 auto;
    height: 499px;
    width: 552px;
  }
}

.hero__image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  @media (min-width: v.$desktop-width) {
    position: static;
  }
}

.hero__button {
  margin: 0 20px;

  @media (min-width: v.$tablet-width) {
    position: static;
    z-index: 1;
    margin: 0;
    margin-left: 120px;
    max-width: 55%;
    min-width: 244px;
  }

  @media (min-width: v.$desktop-width) {
    position: static;
    z-index: 1;
    margin: 0;
    max-width: 46%;
  }
}
