@use "../global/variables.scss" as v;

.invite {
  display: flex;
  justify-content: space-evenly;
  padding: 26px 20px;
  background-color: v.$second-bg;

  &--index {
    background-color: v.$color-white;
  }
}

.invite__title {
  margin: 0;
  max-width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.invite__address {
  max-width: 140px;
  line-height: 20px;
  font-family: v.$second-font;
  color: v.$main-text-color;
}
