@use "../global/variables.scss" as v;

.main-footer {
  padding: 20px;
  background-color: v.$second-bg;

  @media (min-width: v.$tablet-width) {
    display: flex;
    min-height: 37px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }
}

.main-footer__container {
  padding: 20px 0 19px;
  border-bottom: 1px solid #d9d9d9;

  &:last-child {
    padding: 20px 0;
    border-bottom: none;
  }

  @media (min-width: v.$tablet-width) {
    padding: 0;
    border-bottom: none;

    &:last-child {
      padding: 0;
    }
  }
}

.main-footer__logo {
  &:hover .main-footer__logo-image {
    fill: #3e3e3e;
  }

  &:active .main-footer__logo-image {
    fill: #6b6b6b;
  }
}

.main-footer__logo-image {
  display: block;
  margin: 0 auto;
}

.main-footer__developer {
  @media (min-width: v.$tablet-width) {
    padding-left: 5px;
    width: 163px;
  }
}
