@use "../global/variables.scss" as v;

.main-logo {
  display: flex;
  height: 38px;

  @media (min-width: v.$tablet-width) {
    height: 50px;
  }

  @media (min-width: v.$desktop-width) {
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-logo__image {
  margin-right: 56px;

  @media (min-width: v.$tablet-width) {
    margin-right: 13px;
  }
}

.main-logo__text {
  margin: 10px 0;

  @media (min-width: v.$tablet-width) {
    margin: 16px 0;
  }

  @media (min-width: v.$desktop-width) {
    margin: 19px 0;
    width: 118px;
  }
}
