@use "../global/variables.scss" as v;

.main-nav {
  background-color: v.$color-white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }

  &--nojs {
    position: relative;
    top: 14px;
    display: block;
    width: 100%;
  }

  @media (min-width: v.$tablet-width) {
    display: block;
    box-sizing: border-box;
    width: 50%;
    border: none;

    &--nojs {
      position: static;
      top: unset;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 16px 110px 0;
    background-color: transparent;

    &--white-text .main-nav__link {
      color: v.$color-white;

      &::after {
        background-color: v.$color-white;
      }
    }
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-top: 14px;
  }

  @media (min-width: v.$desktop-width) {
    margin-top: 0;
    justify-content: flex-end;
  }
}

.main-nav__item {
  &:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: v.$tablet-width) {
      border: none;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 22px 70px 23px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: v.$color-black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    padding: 0 0 8px 0;
    font-size: 18px;
    line-height: 24px;

    &--current {
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        content: "";
        background-color: v.$basic_bg;
      }
    }
  }

  @media (min-width: v.$desktop-width) {
    font-size: 20px;
    line-height: normal;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
