@use "../global/variables.scss" as v;

.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &--divided {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: v.$tablet-width) {
    align-items: unset;
    padding: 25px 33px 25px 30px;

    &--divided {
      border-bottom: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 55px 0 29px;

    &--bg {
      &::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 50%;
        height: 694px;
        content: "";
        background-color: #64a73d;
        background-image: url("../img/bg/hero-bg-desktop.jpg");
        background-repeat: no-repeat;
        background-position: right;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/bg/hero-bg-desktop@2x.jpg");
          background-size: 720px auto;
        }
      }
    }
  }
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 13px 20px 14px;

  @media (min-width: v.$tablet-width) {
    display: block;
    flex-wrap: unset;
    align-items: unset;
    justify-content: unset;
    width: unset;
    padding: 0;
  }

  @media (min-width: v.$desktop-width) {
    margin-right: auto;
  }
}

.main-header__logo {
  flex-shrink: 0;
  height: 38px;
  margin-right: 66px;

  @media (min-width: v.$tablet-width) {
    height: 50px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 110px;
    height: 59px;
  }
}

.main-header__toggle {
  @media (min-width: v.$tablet-width) {
    display: none;
  }
}


.main-header__nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;

  @media (min-width: v.$tablet-width) {
    position: static;
  }
}
