@use "../global/variables.scss" as v;

.product-more {
  padding: 25px 20px 24px;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    padding: 0;

    &::before {
      display: block;
      width: 100%;
      height: 82px;
      content: "";
      background-color: v.$color-white;
    }
  }
}

.product-more__container {
  @media (min-width: v.$tablet-width) {
    padding: 48px 36px 38px;
    border: 2px solid #f2f2f2;
  }
}

.product-more__content-wrapper {
  position: relative;
  padding: 53px 30px 0;
  margin-bottom: 21px;

  @media (min-width: v.$tablet-width) {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
    padding: 110px 0 0;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 90px;
    padding: 100px 0 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    content: "";
    background-image: url("../img/icon/plus-small.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: v.$tablet-width) {
      width: 60px;
      height: 60px;
      background-image: url("../img/icon/plus-big.svg");
    }
  }
}

.product-more__caption {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 25px;
  }
}

.product-more__description {
  margin: 0;
  font-family: v.$second-font;
  font-size: 12px;
  line-height: 16px;
  color: v.$main-text-color;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-more__button {
  width: 100%;
}
