@use "../global/variables.scss" as v;

.product-card {
  box-sizing: border-box;
  padding: 20px 20px 24px;
  min-height: 209px;

  @media (min-width: v.$tablet-width) {
    position: relative;
    padding: 0;
    min-height: 511px;
    background-color: v.$second-bg;

    &::before {
      display: block;
      width: 100%;
      height: 81px;
      content: "";
      background-color: v.$color-white;
    }
  }
}

.product-card__container {
  @media (min-width: v.$tablet-width) {
    padding: 161px 37px 40px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 151px 38px 40px;
  }
}

.product-card__content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 17px;

  @media (min-width: v.$tablet-width) {
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    margin-bottom: 32px;
  }
}

.product-card__text-wrapper {
  width: 50%;

  @media (min-width: v.$tablet-width) {
    width: 100%;
  }
}

.product-card__caption {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 14px;
  width: 55%;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    margin-top: 0;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 23px;
    width: 140px;
  }
}

.product-card__description {
  width: 100%;
  font-family: v.$second-font;
  font-size: 12px;
  line-height: 16px;
  color: v.$main-text-color;
  border-spacing: 0;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: v.$desktop-width) {
    padding-bottom: 11px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__description tr {
  & td {
    padding: 0;

    &:last-child {
      text-align: right;
    }
  }

  @media (min-width: v.$tablet-width) {
    & td {
      padding-top: 7px;
      padding-bottom: 4px;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: v.$desktop-width) {
    & td {
      padding-top: 6px;
      padding-bottom: 5px;
    }

    &:first-child {
      & td {
        padding-top: 0;
      }
    }

    &:last-child {
      & td {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

.product-card__image-wrapper {
  position: relative;
  width: 140px;
  height: 107px;

  @media (min-width: v.$tablet-width) {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 210px;
  }

  @media (min-width: v.$desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.product-card__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product-card__button {
  width: 100%;
}
