@use "../global/variables.scss" as v;

.program {
  position: relative;
  padding: 30px 20px 18px;
  background-color: v.$second-bg;

  &--slim {
    &::before {
      position: absolute;
      top: 21px;
      left: 20px;
      width: 50px;
      height: 53px;
      content: "";
      background-image: url("../img/program/cat-slim-mobile.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--pro {
    &::before {
      position: absolute;
      top: 24px;
      left: 13px;
      width: 67px;
      height: 50px;
      content: "";
      background-image: url("../img/program/cat-pro-mobile.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 242px;
    padding: 77px 52px 53px;

    &--slim {
      &::before {
        top: 81px;
        left: auto;
        right: 63px;
        width: 200px;
        height: 211px;
        background-image: url("../img/program/cat-slim-tablet.svg");
        z-index: 1;
      }
    }

    &--pro {
      &::before {
        top: 91px;
        left: auto;
        right: 29px;
        width: 268px;
        height: 200px;
        background-image: url("../img/program/cat-pro-tablet.svg");
        z-index: 1;
      }
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 77px 52px 55px;

    &--slim {
      padding-right: 61px;

      &::before {
        position: absolute;
        top: 41px;
        left: 52px;
        width: 100px;
        height: 106px;
        background-image: url("../img/program/cat-slim-desktop.svg");
      }
    }

    &--pro {
      padding-right: 67px;

      &::before {
        position: absolute;
        top: 47px;
        left: 33px;
        width: 134px;
        height: 100px;
        background-image: url("../img/program/cat-pro-desktop.svg");
      }
    }
  }
}

.program__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &--slim {
    margin-left: 70px;
  }

  &--pro {
    margin-left: 71px;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 24px;
    max-width: 56%;
    font-size: 36px;
    line-height: 36px;

    &--slim {
      margin-left: 1px;
    }

    &--pro {
      margin-left: 1px;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 73px;
    max-width: unset;

    &--slim {
      margin-left: 162px;
    }

    &--pro {
      margin-left: 162px;
    }
  }
}

.program__description {
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 15px;
  font-family: v.$second-font;
  color: v.$main-text-color;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: v.$tablet-width) {
    flex-grow: 1;
    padding: 0;
    margin-bottom: 48px;
    max-width: 56%;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 23px;
    max-width: unset;
  }
}

.program__link {
  position: relative;
  align-self: flex-start;
  display: inline-block;
  padding: 4px 48px 4px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: v.$color-black;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 32px;
    height: 12px;
    content: "";
    background-image: url("../img/arrow.svg");
    background-position: center right 8px;
    background-repeat: no-repeat;
    transition: 0.3s;
  }

  &:hover::after {
    background-position: center right;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: v.$tablet-width) {
    padding: 4px 58px 4px 0;
    font-size: 20px;
    line-height: normal;
  }
}
