@use "../global/variables.scss" as v;

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 132px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: v.$tablet-width) {
    padding-left: 40px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;

  &:hover .social__link-image {
    fill: v.$basic_bg;
  }

  &:active {
    opacity: 0.3;
  }
}
