@use "../global/variables.scss" as v;

.stats {
  @media (min-width: v.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: v.$desktop-width) {
    flex-direction: column;
    justify-content: unset;
  }
}

.stats__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;

  @media (min-width: v.$tablet-width) {
    gap: 43px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 42px;
    justify-content: flex-start;
    margin-bottom: 55px;
  }
}

.stats__text {
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
    padding-top: 11px;
    font-size: 20px;
  }

  @media (min-width: v.$desktop-width) {
    flex-direction: row;
    align-items: unset;
    gap: 67px;
    padding-top: 0;
  }
}
