// подключение @use "../global/variables.scss" as v;
// Fonts
$main-font: "Oswald", sans-serif;
$second-font: "Lato", sans-serif;
// Colors
$color-black: #000000;
$color-white: #ffffff;
// Text
$main-text-color: #444444;
// Backgrounds
$basic_bg: #68b738;
$second-bg: #f2f2f2;
$third-bg: #eaeaea;
